In [1]:
import numpy as np
import pandas as pd

In [2]:
# 여기서 분 설정하면 알아서 다 바꿔줌
# minute = "30"
# df_30 = pd.read_csv("./final_data/Final Validation Dataset/" + minute + "mins_val.csv")

# 롤 worlds 데이터용
df_30 = pd.read_excel("./final_data/worlds_match_data.xlsx")

# 이건 TEST, VAL에서만
#df_30 = df_30.drop(['Unnamed: 0'], axis=1)

df_30

,gameId,blueWins,blueChamps,blueTotalGolds,blueCurrentGolds,blueTotalLevel,blueAvgLevel,blueTotalMinionKills,blueTotalJungleMinionKills,blueFirstBlood,...,redMidTowerKills,redTopTowerKills,redBotTowerKills,redInhibitor,redFirstDragon,redDragonType,redDragon,redRiftHeralds,redBaron,redFirstBaron
0,0,Fail,"[516,28,236,523,412]",2500,-1,5,1.0,0,-1,0,...,0,0,0,0,0,[],0,0,0,0
1,0,Fail,"[516,28,236,523,413]",4300,-1,11,2.2,50,-1,0,...,0,0,0,0,0,[],0,0,0,0
2,0,Fail,"[516,28,236,523,414]",5700,-1,18,3.6,118,-1,0,...,0,0,0,0,0,[],0,0,0,0
3,0,Fail,"[516,28,236,523,415]",8900,-1,24,4.8,174,-1,0,...,0,0,0,0,0,[],0,0,0,0
4,0,Fail,"[516,28,236,523,416]",11300,-1,29,5.8,236,-1,0,...,0,0,0,0,1,['EARTH_DRAGON'],1,0,0,0
5,0,Fail,"[516,28,236,523,417]",14200,-1,34,6.8,315,-1,0,...,0,0,0,0,1,['EARTH_DRAGON'],1,0,0,0
6,0,Fail,"[516,28,236,523,418]",16300,-1,39,7.8,368,-1,0,...,0,0,0,0,1,['EARTH_DRAGON'],1,0,0,0
7,0,Fail,"[516,28,236,523,419]",18700,-1,41,8.2,437,-1,0,...,0,0,0,0,1,['EARTH_DRAGON'],1,0,0,0
8,0,Fail,"[516,28,236,523,420]",22100,-1,44,8.8,489,-1,1,...,0,0,0,0,1,"['EARTH_DRAGON', 'WATER_DRAGON']",2,0,0,0
9,0,Fail,"[516,28,236,523,421]",25100,-1,48,9.6,571,-1,1,...,0,0,0,0,1,"['EARTH_DRAGON', 'WATER_DRAGON']",2,0,0,0
10,0,Fail,"[516,28,236,523,422]",28000,-1,49,9.8,611,-1,1,...,0,0,0,0,1,"['EARTH_DRAGON', 'WATER_DRAGON']",2,1,0,0
11,0,Fail,"[516,28,236,523,423]",30400,-1,53,10.6,641,-1,1,...,0,0,0,0,1,"['EARTH_DRAGON', 'WATER_DRAGON', 'AIR_DRAGON']",3,1,0,0
12,0,Fail,"[516,28,236,523,424]",32500,-1,54,10.8,704,-1,1,...,0,0,0,0,1,"['EARTH_DRAGON', 'WATER_DRAGON', 'AIR_DRAGON']",3,1,0,0
13,0,Fail,"[516,28,236,523,425]",35400,-1,59,11.8,779,-1,1,...,0,0,0,0,1,"['EARTH_DRAGON', 'WATER_DRAGON', 'AIR_DRAGON']",3,1,0,0
14,0,Fail,"[516,28,236,523,426]",38100,-1,61,12.2,819,-1,1,...,0,0,0,0,1,"['EARTH_DRAGON', 'WATER_DRAGON', 'AIR_DRAGON']",3,1,0,0
15,0,Fail,"[516,28,236,523,427]",40600,-1,62,12.4,840,-1,1,...,0,0,1,0,1,"['EARTH_DRAGON', 'WATER_DRAGON', 'AIR_DRAGON']",3,1,0,0
16,0,Fail,"[516,28,236,523,428]",43200,-1,65,13.0,891,-1,1,...,0,1,1,0,1,"['EARTH_DRAGON', 'WATER_DRAGON', 'AIR_DRAGON']",3,1,0,0
17,0,Fail,"[516,28,236,523,429]",46100,-1,68,13.6,931,-1,1,...,0,1,1,0,1,"['EARTH_DRAGON', 'WATER_DRAGON', 'AIR_DRAGON']",3,1,0,0
18,0,Fail,"[516,28,236,523,430]",49600,-1,69,13.8,989,-1,1,...,1,1,1,0,1,"['EARTH_DRAGON', 'WATER_DRAGON', 'AIR_DRAGON']",3,1,0,0
19,0,Fail,"[516,28,236,523,431]",52000,-1,71,14.2,1002,-1,1,...,1,1,1,0,1,"['EARTH_DRAGON', 'WATER_DRAGON', 'AIR_DRAGON',...",4,1,0,0

In [3]:
df_30.columns

Index(['gameId', 'blueWins', 'blueChamps', 'blueTotalGolds',
       'blueCurrentGolds', 'blueTotalLevel', 'blueAvgLevel',
       'blueTotalMinionKills', 'blueTotalJungleMinionKills', 'blueFirstBlood',
       'blueKill', 'blueDeath', 'blueAssist', 'blueWardPlaced',
       'blueWardKills', 'blueFirstTower', 'blueFirstInhibitor',
       'blueFirstTowerLane', 'blueTowerKills', 'blueMidTowerKills',
       'blueTopTowerKills', 'blueBotTowerKills', 'blueInhibitor',
       'blueFirstDragon', 'blueDragonType', 'blueDragon', 'blueRiftHeralds',
       'blueBaron', 'blueFirstBaron', 'redWins', 'redChamps', 'redTotalGolds',
       'redCurrentGolds', 'redTotalLevel', 'redAvgLevel',
       'redTotalMinionKills', 'redTotalJungleMinionKills', 'redFirstBlood',
       'redKill', 'redDeath', 'redAssist', 'redWardPlaced', 'redWardKills',
       'redFirstTower', 'redFirstInhibitor', 'redFirstTowerLane',
       'redTowerKills', 'redMidTowerKills', 'redTopTowerKills',
       'redBotTowerKills', 'redInhibitor', 'redFirstDragon', 'redDragonType',
       'redDragon', 'redRiftHeralds', 'redBaron', 'redFirstBaron'],
      dtype='object')

여기서 불필요한 것들 찾아야함...

'gameId'<br>
'blueWins'와 'redWins' 통합<br>
'blueFirstTowerLane', 'blueDragonType', 'redFirstTowerLane', 'redDragonType'은 수정<br>
'blueChamps'는 순서 지켜서 'blueChamps0-4'까지 새로 만들어야함.

In [4]:
df_30 = df_30.drop(['gameId'], axis=1)
df_30

,blueWins,blueChamps,blueTotalGolds,blueCurrentGolds,blueTotalLevel,blueAvgLevel,blueTotalMinionKills,blueTotalJungleMinionKills,blueFirstBlood,blueKill,...,redMidTowerKills,redTopTowerKills,redBotTowerKills,redInhibitor,redFirstDragon,redDragonType,redDragon,redRiftHeralds,redBaron,redFirstBaron
0,Fail,"[516,28,236,523,412]",2500,-1,5,1.0,0,-1,0,0,...,0,0,0,0,0,[],0,0,0,0
1,Fail,"[516,28,236,523,413]",4300,-1,11,2.2,50,-1,0,0,...,0,0,0,0,0,[],0,0,0,0
2,Fail,"[516,28,236,523,414]",5700,-1,18,3.6,118,-1,0,0,...,0,0,0,0,0,[],0,0,0,0
3,Fail,"[516,28,236,523,415]",8900,-1,24,4.8,174,-1,0,0,...,0,0,0,0,0,[],0,0,0,0
4,Fail,"[516,28,236,523,416]",11300,-1,29,5.8,236,-1,0,0,...,0,0,0,0,1,['EARTH_DRAGON'],1,0,0,0
5,Fail,"[516,28,236,523,417]",14200,-1,34,6.8,315,-1,0,0,...,0,0,0,0,1,['EARTH_DRAGON'],1,0,0,0
6,Fail,"[516,28,236,523,418]",16300,-1,39,7.8,368,-1,0,0,...,0,0,0,0,1,['EARTH_DRAGON'],1,0,0,0
7,Fail,"[516,28,236,523,419]",18700,-1,41,8.2,437,-1,0,0,...,0,0,0,0,1,['EARTH_DRAGON'],1,0,0,0
8,Fail,"[516,28,236,523,420]",22100,-1,44,8.8,489,-1,1,1,...,0,0,0,0,1,"['EARTH_DRAGON', 'WATER_DRAGON']",2,0,0,0
9,Fail,"[516,28,236,523,421]",25100,-1,48,9.6,571,-1,1,1,...,0,0,0,0,1,"['EARTH_DRAGON', 'WATER_DRAGON']",2,0,0,0
10,Fail,"[516,28,236,523,422]",28000,-1,49,9.8,611,-1,1,3,...,0,0,0,0,1,"['EARTH_DRAGON', 'WATER_DRAGON']",2,1,0,0
11,Fail,"[516,28,236,523,423]",30400,-1,53,10.6,641,-1,1,3,...,0,0,0,0,1,"['EARTH_DRAGON', 'WATER_DRAGON', 'AIR_DRAGON']",3,1,0,0
12,Fail,"[516,28,236,523,424]",32500,-1,54,10.8,704,-1,1,3,...,0,0,0,0,1,"['EARTH_DRAGON', 'WATER_DRAGON', 'AIR_DRAGON']",3,1,0,0
13,Fail,"[516,28,236,523,425]",35400,-1,59,11.8,779,-1,1,3,...,0,0,0,0,1,"['EARTH_DRAGON', 'WATER_DRAGON', 'AIR_DRAGON']",3,1,0,0
14,Fail,"[516,28,236,523,426]",38100,-1,61,12.2,819,-1,1,4,...,0,0,0,0,1,"['EARTH_DRAGON', 'WATER_DRAGON', 'AIR_DRAGON']",3,1,0,0
15,Fail,"[516,28,236,523,427]",40600,-1,62,12.4,840,-1,1,5,...,0,0,1,0,1,"['EARTH_DRAGON', 'WATER_DRAGON', 'AIR_DRAGON']",3,1,0,0
16,Fail,"[516,28,236,523,428]",43200,-1,65,13.0,891,-1,1,7,...,0,1,1,0,1,"['EARTH_DRAGON', 'WATER_DRAGON', 'AIR_DRAGON']",3,1,0,0
17,Fail,"[516,28,236,523,429]",46100,-1,68,13.6,931,-1,1,9,...,0,1,1,0,1,"['EARTH_DRAGON', 'WATER_DRAGON', 'AIR_DRAGON']",3,1,0,0
18,Fail,"[516,28,236,523,430]",49600,-1,69,13.8,989,-1,1,11,...,1,1,1,0,1,"['EARTH_DRAGON', 'WATER_DRAGON', 'AIR_DRAGON']",3,1,0,0
19,Fail,"[516,28,236,523,431]",52000,-1,71,14.2,1002,-1,1,12,...,1,1,1,0,1,"['EARTH_DRAGON', 'WATER_DRAGON', 'AIR_DRAGON',...",4,1,0,0

In [5]:
df_30 = df_30.drop(['redWins'], axis=1)
df_30 = df_30.replace({'blueWins': 'Win'}, {'blueWins': 1})
df_30 = df_30.replace({'blueWins': 'Fail'}, {'blueWins': 0})
df_30

,blueWins,blueChamps,blueTotalGolds,blueCurrentGolds,blueTotalLevel,blueAvgLevel,blueTotalMinionKills,blueTotalJungleMinionKills,blueFirstBlood,blueKill,...,redMidTowerKills,redTopTowerKills,redBotTowerKills,redInhibitor,redFirstDragon,redDragonType,redDragon,redRiftHeralds,redBaron,redFirstBaron
0,0,"[516,28,236,523,412]",2500,-1,5,1.0,0,-1,0,0,...,0,0,0,0,0,[],0,0,0,0
1,0,"[516,28,236,523,413]",4300,-1,11,2.2,50,-1,0,0,...,0,0,0,0,0,[],0,0,0,0
2,0,"[516,28,236,523,414]",5700,-1,18,3.6,118,-1,0,0,...,0,0,0,0,0,[],0,0,0,0
3,0,"[516,28,236,523,415]",8900,-1,24,4.8,174,-1,0,0,...,0,0,0,0,0,[],0,0,0,0
4,0,"[516,28,236,523,416]",11300,-1,29,5.8,236,-1,0,0,...,0,0,0,0,1,['EARTH_DRAGON'],1,0,0,0
5,0,"[516,28,236,523,417]",14200,-1,34,6.8,315,-1,0,0,...,0,0,0,0,1,['EARTH_DRAGON'],1,0,0,0
6,0,"[516,28,236,523,418]",16300,-1,39,7.8,368,-1,0,0,...,0,0,0,0,1,['EARTH_DRAGON'],1,0,0,0
7,0,"[516,28,236,523,419]",18700,-1,41,8.2,437,-1,0,0,...,0,0,0,0,1,['EARTH_DRAGON'],1,0,0,0
8,0,"[516,28,236,523,420]",22100,-1,44,8.8,489,-1,1,1,...,0,0,0,0,1,"['EARTH_DRAGON', 'WATER_DRAGON']",2,0,0,0
9,0,"[516,28,236,523,421]",25100,-1,48,9.6,571,-1,1,1,...,0,0,0,0,1,"['EARTH_DRAGON', 'WATER_DRAGON']",2,0,0,0
10,0,"[516,28,236,523,422]",28000,-1,49,9.8,611,-1,1,3,...,0,0,0,0,1,"['EARTH_DRAGON', 'WATER_DRAGON']",2,1,0,0
11,0,"[516,28,236,523,423]",30400,-1,53,10.6,641,-1,1,3,...,0,0,0,0,1,"['EARTH_DRAGON', 'WATER_DRAGON', 'AIR_DRAGON']",3,1,0,0
12,0,"[516,28,236,523,424]",32500,-1,54,10.8,704,-1,1,3,...,0,0,0,0,1,"['EARTH_DRAGON', 'WATER_DRAGON', 'AIR_DRAGON']",3,1,0,0
13,0,"[516,28,236,523,425]",35400,-1,59,11.8,779,-1,1,3,...,0,0,0,0,1,"['EARTH_DRAGON', 'WATER_DRAGON', 'AIR_DRAGON']",3,1,0,0
14,0,"[516,28,236,523,426]",38100,-1,61,12.2,819,-1,1,4,...,0,0,0,0,1,"['EARTH_DRAGON', 'WATER_DRAGON', 'AIR_DRAGON']",3,1,0,0
15,0,"[516,28,236,523,427]",40600,-1,62,12.4,840,-1,1,5,...,0,0,1,0,1,"['EARTH_DRAGON', 'WATER_DRAGON', 'AIR_DRAGON']",3,1,0,0
16,0,"[516,28,236,523,428]",43200,-1,65,13.0,891,-1,1,7,...,0,1,1,0,1,"['EARTH_DRAGON', 'WATER_DRAGON', 'AIR_DRAGON']",3,1,0,0
17,0,"[516,28,236,523,429]",46100,-1,68,13.6,931,-1,1,9,...,0,1,1,0,1,"['EARTH_DRAGON', 'WATER_DRAGON', 'AIR_DRAGON']",3,1,0,0
18,0,"[516,28,236,523,430]",49600,-1,69,13.8,989,-1,1,11,...,1,1,1,0,1,"['EARTH_DRAGON', 'WATER_DRAGON', 'AIR_DRAGON']",3,1,0,0
19,0,"[516,28,236,523,431]",52000,-1,71,14.2,1002,-1,1,12,...,1,1,1,0,1,"['EARTH_DRAGON', 'WATER_DRAGON', 'AIR_DRAGON',...",4,1,0,0

In [6]:
df_30[['blueFirstTowerLane']]

                      blueFirstTowerLane
0                                     []
1                                     []
2                                     []
3                                     []
4                                     []
5                                     []
6                                     []
7                                     []
8                                     []
9                                     []
10                          ['BOT_LANE']
11                          ['BOT_LANE']
12                          ['BOT_LANE']
13                          ['BOT_LANE']
14              ['BOT_LANE', 'MID_LANE']
15              ['BOT_LANE', 'MID_LANE']
16              ['BOT_LANE', 'MID_LANE']
17              ['BOT_LANE', 'MID_LANE']
18              ['BOT_LANE', 'MID_LANE']
19  ['BOT_LANE', 'MID_LANE', 'TOP_LANE']

In [7]:
df_30 = df_30.replace({'blueFirstTowerLane': "[\'TOP_LANE\']"}, {'blueFirstTowerLane': 1})
df_30 = df_30.replace({'blueFirstTowerLane': "[\'MID_LANE\']"}, {'blueFirstTowerLane': 2})
df_30 = df_30.replace({'blueFirstTowerLane': "[\'BOT_LANE\']"}, {'blueFirstTowerLane': 3})
df_30 = df_30.replace({'blueFirstTowerLane': "[]"}, {'blueFirstTowerLane': 0})
df_30[['blueFirstTowerLane']]

                      blueFirstTowerLane
0                                      0
1                                      0
2                                      0
3                                      0
4                                      0
5                                      0
6                                      0
7                                      0
8                                      0
9                                      0
10                                     3
11                                     3
12                                     3
13                                     3
14              ['BOT_LANE', 'MID_LANE']
15              ['BOT_LANE', 'MID_LANE']
16              ['BOT_LANE', 'MID_LANE']
17              ['BOT_LANE', 'MID_LANE']
18              ['BOT_LANE', 'MID_LANE']
19  ['BOT_LANE', 'MID_LANE', 'TOP_LANE']

In [8]:
df_30 = df_30.replace({'redFirstTowerLane': "[\'TOP_LANE\']"}, {'redFirstTowerLane': 1})
df_30 = df_30.replace({'redFirstTowerLane': "[\'MID_LANE\']"}, {'redFirstTowerLane': 2})
df_30 = df_30.replace({'redFirstTowerLane': "[\'BOT_LANE\']"}, {'redFirstTowerLane': 3})
df_30 = df_30.replace({'redFirstTowerLane': "[]"}, {'redFirstTowerLane': 0})
df_30[['redFirstTowerLane']]

                       redFirstTowerLane
0                                      0
1                                      0
2                                      0
3                                      0
4                                      0
5                                      0
6                                      0
7                                      0
8                                      0
9                                      0
10                                     0
11                                     0
12                                     0
13                                     0
14                                     0
15                                     3
16              ['BOT_LANE', 'TOP_LANE']
17              ['BOT_LANE', 'TOP_LANE']
18  ['BOT_LANE', 'TOP_LANE', 'MID_LANE']
19  ['BOT_LANE', 'TOP_LANE', 'MID_LANE']

'DragonType'에 대한 전처리<br>
blue와 red에 대해서 각 드래곤 숫자로 변환해서 표현하면 됨.<br>

In [9]:
df_30[['blueDragonType']]

    blueDragonType
0               []
1               []
2               []
3               []
4               []
5               []
6               []
7               []
8               []
9               []
10              []
11              []
12              []
13              []
14              []
15  ['AIR_DRAGON']
16  ['AIR_DRAGON']
17  ['AIR_DRAGON']
18  ['AIR_DRAGON']
19  ['AIR_DRAGON']

In [10]:
df_30['blueAirDragon'] = 0
df_30['blueEarthDragon'] = 0
df_30['blueWaterDragon'] = 0
df_30['blueFireDragon'] = 0
df_30['blueElderDragon'] = 0
df_30['redAirDragon'] = 0
df_30['redEarthDragon'] = 0
df_30['redWaterDragon'] = 0
df_30['redFireDragon'] = 0
df_30['redElderDragon'] = 0

In [11]:
def split_blue_dragon(df, col):
    for i in df.index:
        val = df.loc[i, col]
        splitted = val[1:-1].split(', ')
        for dragon in splitted:
            if(dragon == "'AIR_DRAGON'"):
                df.loc[i, 'blueAirDragon'] = df.loc[i, 'blueAirDragon'] + 1
            elif(dragon == "'EARTH_DRAGON'"):
                df.loc[i, 'blueEarthDragon'] = df.loc[i, 'blueEarthDragon'] + 1
            elif(dragon == "'WATER_DRAGON'"):
                df.loc[i, 'blueWaterDragon'] = df.loc[i, 'blueWaterDragon'] + 1
            elif(dragon == "'FIRE_DRAGON'"):
                df.loc[i, 'blueFireDragon'] = df.loc[i, 'blueFireDragon'] + 1
            elif(dragon == "'ELDER_DRAGON'"):
                df.loc[i, 'blueElderDragon'] = df.loc[i, 'blueElderDragon'] + 1

split_blue_dragon(df_30, 'blueDragonType')
df_30 = df_30.drop(['blueDragonType'], axis=1)
df_30

,blueWins,blueChamps,blueTotalGolds,blueCurrentGolds,blueTotalLevel,blueAvgLevel,blueTotalMinionKills,blueTotalJungleMinionKills,blueFirstBlood,blueKill,...,blueAirDragon,blueEarthDragon,blueWaterDragon,blueFireDragon,blueElderDragon,redAirDragon,redEarthDragon,redWaterDragon,redFireDragon,redElderDragon
0,0,"[516,28,236,523,412]",2500,-1,5,1.0,0,-1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,"[516,28,236,523,413]",4300,-1,11,2.2,50,-1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,"[516,28,236,523,414]",5700,-1,18,3.6,118,-1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,"[516,28,236,523,415]",8900,-1,24,4.8,174,-1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,"[516,28,236,523,416]",11300,-1,29,5.8,236,-1,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,"[516,28,236,523,417]",14200,-1,34,6.8,315,-1,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,"[516,28,236,523,418]",16300,-1,39,7.8,368,-1,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,"[516,28,236,523,419]",18700,-1,41,8.2,437,-1,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,"[516,28,236,523,420]",22100,-1,44,8.8,489,-1,1,1,...,0,0,0,0,0,0,0,0,0,0
9,0,"[516,28,236,523,421]",25100,-1,48,9.6,571,-1,1,1,...,0,0,0,0,0,0,0,0,0,0
10,0,"[516,28,236,523,422]",28000,-1,49,9.8,611,-1,1,3,...,0,0,0,0,0,0,0,0,0,0
11,0,"[516,28,236,523,423]",30400,-1,53,10.6,641,-1,1,3,...,0,0,0,0,0,0,0,0,0,0
12,0,"[516,28,236,523,424]",32500,-1,54,10.8,704,-1,1,3,...,0,0,0,0,0,0,0,0,0,0
13,0,"[516,28,236,523,425]",35400,-1,59,11.8,779,-1,1,3,...,0,0,0,0,0,0,0,0,0,0
14,0,"[516,28,236,523,426]",38100,-1,61,12.2,819,-1,1,4,...,0,0,0,0,0,0,0,0,0,0
15,0,"[516,28,236,523,427]",40600,-1,62,12.4,840,-1,1,5,...,1,0,0,0,0,0,0,0,0,0
16,0,"[516,28,236,523,428]",43200,-1,65,13.0,891,-1,1,7,...,1,0,0,0,0,0,0,0,0,0
17,0,"[516,28,236,523,429]",46100,-1,68,13.6,931,-1,1,9,...,1,0,0,0,0,0,0,0,0,0
18,0,"[516,28,236,523,430]",49600,-1,69,13.8,989,-1,1,11,...,1,0,0,0,0,0,0,0,0,0
19,0,"[516,28,236,523,431]",52000,-1,71,14.2,1002,-1,1,12,...,1,0,0,0,0,0,0,0,0,0

In [12]:
def split_red_dragon(df, col):
    for i in df.index:
        val = df.loc[i, col]
        splitted = val[1:-1].split(', ')
        for dragon in splitted:
            if(dragon == "'AIR_DRAGON'"):
                df.loc[i, 'redAirDragon'] = df.loc[i, 'redAirDragon'] + 1
            elif(dragon == "'EARTH_DRAGON'"):
                df.loc[i, 'redEarthDragon'] = df.loc[i, 'redEarthDragon'] + 1
            elif(dragon == "'WATER_DRAGON'"):
                df.loc[i, 'redWaterDragon'] = df.loc[i, 'redWaterDragon'] + 1
            elif(dragon == "'FIRE_DRAGON'"):
                df.loc[i, 'redFireDragon'] = df.loc[i, 'redFireDragon'] + 1
            elif(dragon == "'ELDER_DRAGON'"):
                df.loc[i, 'redElderDragon'] = df.loc[i, 'redElderDragon'] + 1

split_red_dragon(df_30, 'redDragonType')
df_30 = df_30.drop(['redDragonType'], axis=1)
df_30

,blueWins,blueChamps,blueTotalGolds,blueCurrentGolds,blueTotalLevel,blueAvgLevel,blueTotalMinionKills,blueTotalJungleMinionKills,blueFirstBlood,blueKill,...,blueAirDragon,blueEarthDragon,blueWaterDragon,blueFireDragon,blueElderDragon,redAirDragon,redEarthDragon,redWaterDragon,redFireDragon,redElderDragon
0,0,"[516,28,236,523,412]",2500,-1,5,1.0,0,-1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,"[516,28,236,523,413]",4300,-1,11,2.2,50,-1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,"[516,28,236,523,414]",5700,-1,18,3.6,118,-1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,"[516,28,236,523,415]",8900,-1,24,4.8,174,-1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,"[516,28,236,523,416]",11300,-1,29,5.8,236,-1,0,0,...,0,0,0,0,0,0,1,0,0,0
5,0,"[516,28,236,523,417]",14200,-1,34,6.8,315,-1,0,0,...,0,0,0,0,0,0,1,0,0,0
6,0,"[516,28,236,523,418]",16300,-1,39,7.8,368,-1,0,0,...,0,0,0,0,0,0,1,0,0,0
7,0,"[516,28,236,523,419]",18700,-1,41,8.2,437,-1,0,0,...,0,0,0,0,0,0,1,0,0,0
8,0,"[516,28,236,523,420]",22100,-1,44,8.8,489,-1,1,1,...,0,0,0,0,0,0,1,1,0,0
9,0,"[516,28,236,523,421]",25100,-1,48,9.6,571,-1,1,1,...,0,0,0,0,0,0,1,1,0,0
10,0,"[516,28,236,523,422]",28000,-1,49,9.8,611,-1,1,3,...,0,0,0,0,0,0,1,1,0,0
11,0,"[516,28,236,523,423]",30400,-1,53,10.6,641,-1,1,3,...,0,0,0,0,0,1,1,1,0,0
12,0,"[516,28,236,523,424]",32500,-1,54,10.8,704,-1,1,3,...,0,0,0,0,0,1,1,1,0,0
13,0,"[516,28,236,523,425]",35400,-1,59,11.8,779,-1,1,3,...,0,0,0,0,0,1,1,1,0,0
14,0,"[516,28,236,523,426]",38100,-1,61,12.2,819,-1,1,4,...,0,0,0,0,0,1,1,1,0,0
15,0,"[516,28,236,523,427]",40600,-1,62,12.4,840,-1,1,5,...,1,0,0,0,0,1,1,1,0,0
16,0,"[516,28,236,523,428]",43200,-1,65,13.0,891,-1,1,7,...,1,0,0,0,0,1,1,1,0,0
17,0,"[516,28,236,523,429]",46100,-1,68,13.6,931,-1,1,9,...,1,0,0,0,0,1,1,1,0,0
18,0,"[516,28,236,523,430]",49600,-1,69,13.8,989,-1,1,11,...,1,0,0,0,0,1,1,1,0,0
19,0,"[516,28,236,523,431]",52000,-1,71,14.2,1002,-1,1,12,...,1,0,0,0,0,2,1,1,0,0

In [13]:
df_30['blueChamps0'] = 0
df_30['blueChamps1'] = 0
df_30['blueChamps2'] = 0
df_30['blueChamps3'] = 0
df_30['blueChamps4'] = 0
df_30['redChamps0'] = 0
df_30['redChamps1'] = 0
df_30['redChamps2'] = 0
df_30['redChamps3'] = 0
df_30['redChamps4'] = 0

In [14]:
df_30[['blueChamps']]

              blueChamps
0   [516,28,236,523,412]
1   [516,28,236,523,413]
2   [516,28,236,523,414]
3   [516,28,236,523,415]
4   [516,28,236,523,416]
5   [516,28,236,523,417]
6   [516,28,236,523,418]
7   [516,28,236,523,419]
8   [516,28,236,523,420]
9   [516,28,236,523,421]
10  [516,28,236,523,422]
11  [516,28,236,523,423]
12  [516,28,236,523,424]
13  [516,28,236,523,425]
14  [516,28,236,523,426]
15  [516,28,236,523,427]
16  [516,28,236,523,428]
17  [516,28,236,523,429]
18  [516,28,236,523,430]
19  [516,28,236,523,431]

In [15]:
df_30[['redChamps']]

                redChamps
0    [114,107,134,202,89]
1    [114,107,134,202,90]
2    [114,107,134,202,91]
3    [114,107,134,202,92]
4    [114,107,134,202,93]
5    [114,107,134,202,94]
6    [114,107,134,202,95]
7    [114,107,134,202,96]
8    [114,107,134,202,97]
9    [114,107,134,202,98]
10   [114,107,134,202,99]
11  [114,107,134,202,100]
12  [114,107,134,202,101]
13  [114,107,134,202,102]
14  [114,107,134,202,103]
15  [114,107,134,202,104]
16  [114,107,134,202,105]
17  [114,107,134,202,106]
18  [114,107,134,202,107]
19  [114,107,134,202,108]

In [16]:
def split_blue_champs(df, col):
    for i in df.index:
        val = df.loc[i, col]
        # splitted = val[1:-1].split(', ')
        splitted = val[1:-1].split(',')
        index = 0
        for champ in splitted:
            col_name = 'blueChamps' + str(index)
            # df.loc[i, col_name] = champ[1:-1]
            df.loc[i, col_name] = champ
            index += 1
split_blue_champs(df_30, 'blueChamps')
df_30 = df_30.drop(['blueChamps'], axis=1)
df_30

,blueWins,blueTotalGolds,blueCurrentGolds,blueTotalLevel,blueAvgLevel,blueTotalMinionKills,blueTotalJungleMinionKills,blueFirstBlood,blueKill,blueDeath,...,blueChamps0,blueChamps1,blueChamps2,blueChamps3,blueChamps4,redChamps0,redChamps1,redChamps2,redChamps3,redChamps4
0,0,2500,-1,5,1.0,0,-1,0,0,0,...,"16,28,236,523,41",0,0,0,0,0,0,0,0,0
1,0,4300,-1,11,2.2,50,-1,0,0,0,...,"16,28,236,523,41",0,0,0,0,0,0,0,0,0
2,0,5700,-1,18,3.6,118,-1,0,0,0,...,"16,28,236,523,41",0,0,0,0,0,0,0,0,0
3,0,8900,-1,24,4.8,174,-1,0,0,0,...,"16,28,236,523,41",0,0,0,0,0,0,0,0,0
4,0,11300,-1,29,5.8,236,-1,0,0,0,...,"16,28,236,523,41",0,0,0,0,0,0,0,0,0
5,0,14200,-1,34,6.8,315,-1,0,0,0,...,"16,28,236,523,41",0,0,0,0,0,0,0,0,0
6,0,16300,-1,39,7.8,368,-1,0,0,0,...,"16,28,236,523,41",0,0,0,0,0,0,0,0,0
7,0,18700,-1,41,8.2,437,-1,0,0,0,...,"16,28,236,523,41",0,0,0,0,0,0,0,0,0
8,0,22100,-1,44,8.8,489,-1,1,1,0,...,"16,28,236,523,42",0,0,0,0,0,0,0,0,0
9,0,25100,-1,48,9.6,571,-1,1,1,0,...,"16,28,236,523,42",0,0,0,0,0,0,0,0,0
10,0,28000,-1,49,9.8,611,-1,1,3,3,...,"16,28,236,523,42",0,0,0,0,0,0,0,0,0
11,0,30400,-1,53,10.6,641,-1,1,3,3,...,"16,28,236,523,42",0,0,0,0,0,0,0,0,0
12,0,32500,-1,54,10.8,704,-1,1,3,3,...,"16,28,236,523,42",0,0,0,0,0,0,0,0,0
13,0,35400,-1,59,11.8,779,-1,1,3,3,...,"16,28,236,523,42",0,0,0,0,0,0,0,0,0
14,0,38100,-1,61,12.2,819,-1,1,4,4,...,"16,28,236,523,42",0,0,0,0,0,0,0,0,0
15,0,40600,-1,62,12.4,840,-1,1,5,4,...,"16,28,236,523,42",0,0,0,0,0,0,0,0,0
16,0,43200,-1,65,13.0,891,-1,1,7,6,...,"16,28,236,523,42",0,0,0,0,0,0,0,0,0
17,0,46100,-1,68,13.6,931,-1,1,9,8,...,"16,28,236,523,42",0,0,0,0,0,0,0,0,0
18,0,49600,-1,69,13.8,989,-1,1,11,10,...,"16,28,236,523,43",0,0,0,0,0,0,0,0,0
19,0,52000,-1,71,14.2,1002,-1,1,12,14,...,"16,28,236,523,43",0,0,0,0,0,0,0,0,0

In [17]:
def split_red_champs(df, col):
    for i in df.index:
        val = df.loc[i, col]
        # splitted = val[1:-1].split(', ')
        splitted = val[1:-1].split(',')
        index = 0
        for champ in splitted:
            col_name = 'redChamps' + str(index)
            # df.loc[i, col_name] = champ[1:-1]
            df.loc[i, col_name] = champ
            index += 1
split_red_champs(df_30, 'redChamps')
df_30 = df_30.drop(['redChamps'], axis=1)
df_30

,blueWins,blueTotalGolds,blueCurrentGolds,blueTotalLevel,blueAvgLevel,blueTotalMinionKills,blueTotalJungleMinionKills,blueFirstBlood,blueKill,blueDeath,...,blueChamps0,blueChamps1,blueChamps2,blueChamps3,blueChamps4,redChamps0,redChamps1,redChamps2,redChamps3,redChamps4
0,0,2500,-1,5,1.0,0,-1,0,0,0,...,"16,28,236,523,41",0,0,0,0,"14,107,134,202,8",0,0,0,0
1,0,4300,-1,11,2.2,50,-1,0,0,0,...,"16,28,236,523,41",0,0,0,0,"14,107,134,202,9",0,0,0,0
2,0,5700,-1,18,3.6,118,-1,0,0,0,...,"16,28,236,523,41",0,0,0,0,"14,107,134,202,9",0,0,0,0
3,0,8900,-1,24,4.8,174,-1,0,0,0,...,"16,28,236,523,41",0,0,0,0,"14,107,134,202,9",0,0,0,0
4,0,11300,-1,29,5.8,236,-1,0,0,0,...,"16,28,236,523,41",0,0,0,0,"14,107,134,202,9",0,0,0,0
5,0,14200,-1,34,6.8,315,-1,0,0,0,...,"16,28,236,523,41",0,0,0,0,"14,107,134,202,9",0,0,0,0
6,0,16300,-1,39,7.8,368,-1,0,0,0,...,"16,28,236,523,41",0,0,0,0,"14,107,134,202,9",0,0,0,0
7,0,18700,-1,41,8.2,437,-1,0,0,0,...,"16,28,236,523,41",0,0,0,0,"14,107,134,202,9",0,0,0,0
8,0,22100,-1,44,8.8,489,-1,1,1,0,...,"16,28,236,523,42",0,0,0,0,"14,107,134,202,9",0,0,0,0
9,0,25100,-1,48,9.6,571,-1,1,1,0,...,"16,28,236,523,42",0,0,0,0,"14,107,134,202,9",0,0,0,0
10,0,28000,-1,49,9.8,611,-1,1,3,3,...,"16,28,236,523,42",0,0,0,0,"14,107,134,202,9",0,0,0,0
11,0,30400,-1,53,10.6,641,-1,1,3,3,...,"16,28,236,523,42",0,0,0,0,"14,107,134,202,10",0,0,0,0
12,0,32500,-1,54,10.8,704,-1,1,3,3,...,"16,28,236,523,42",0,0,0,0,"14,107,134,202,10",0,0,0,0
13,0,35400,-1,59,11.8,779,-1,1,3,3,...,"16,28,236,523,42",0,0,0,0,"14,107,134,202,10",0,0,0,0
14,0,38100,-1,61,12.2,819,-1,1,4,4,...,"16,28,236,523,42",0,0,0,0,"14,107,134,202,10",0,0,0,0
15,0,40600,-1,62,12.4,840,-1,1,5,4,...,"16,28,236,523,42",0,0,0,0,"14,107,134,202,10",0,0,0,0
16,0,43200,-1,65,13.0,891,-1,1,7,6,...,"16,28,236,523,42",0,0,0,0,"14,107,134,202,10",0,0,0,0
17,0,46100,-1,68,13.6,931,-1,1,9,8,...,"16,28,236,523,42",0,0,0,0,"14,107,134,202,10",0,0,0,0
18,0,49600,-1,69,13.8,989,-1,1,11,10,...,"16,28,236,523,43",0,0,0,0,"14,107,134,202,10",0,0,0,0
19,0,52000,-1,71,14.2,1002,-1,1,12,14,...,"16,28,236,523,43",0,0,0,0,"14,107,134,202,10",0,0,0,0

In [18]:
# df_30.to_csv('./final_data_processed/Val/challenger_' + minute + '.csv', index = False, encoding='utf-8-sig')
df_30.to_csv('./final_data_processed/worlds.csv', index = False, encoding='utf-8-sig')